<section class="col-md-8 dashboard">
    <header>
        <hgroup>
            <h4>League Schedule</h4>
        </hgroup>
    </header>

    <article class="container">
        <div id="picture">
            <img src="http://www.drawingsociety.com/dscgallery/images/drawingmasters_pics/elaine_strum/little_league_soccer_lg.jpg" />

        </div>
        <div class="col-md-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#">Home</a></li>
                <li><a href="#" class="Page">Schedule</a></li>
            </ul>
        </div>
        <div class="col-md-3 pull-right" id="scheduleSelector">
            <label>Team Schedule</label>
            <select ng-init="setOptions()" ng-model="Selection" ng-change="showTeamSchedule()" ng-options="option.Name for option in Options"></select>
        </div>


    </article>
    <article ng-init="FormatSchedule()">
        <div id='calendar'></div>
    </article>
</section>